@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "normalize";
@import "fonts";
@import "scaffloading";
@import "blocks/page-header";
@import "blocks/main-navigation";
@import "blocks/site-list";
@import "blocks/slogan";
@import "blocks/catalog-slogan";
@import "blocks/how-work";
@import "blocks/example";
@import "blocks/map";
@import "blocks/page-footer";
@import "blocks/social";
@import "blocks/developer";
@import "blocks/catalog";
@import "blocks/additional-items";
@import "blocks/page-catalog";
@import "blocks/form";
