.developer {
  padding-top: 22px;
  padding-bottom: 22px;
}

.developer__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.developer__text {
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

@media (min-width: 768px) {
  .developer__text {
    margin-right: 23px;
  }
}
